<!-- This file controls the .NET Framework only. -->
<configuration>
  <runtime>
    <!-- The .NET everything else equivalent is the ConcurrentGarbageCollection
         property in the .csproj file, resulting in the correct setting in
         EXENAME.config.json. Unfortunately, it has to be specified in each of
         the two build sources separately. These did not converge like the
         PackageReference collection did.
    -->
    <gcServer enabled="true"/>
  </runtime>
</configuration>